<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-block" style="border:none;">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title text-center" id="exampleModalLabel">XÁC NHẬN ĐẶT HÀNG</h5>
            </div>

            <div class="modal-body">
                <div class="row confirm">
                    <div class="col-12 col-md-6 reciver">
                        <h4 class="confirm">THÔNG TIN NGƯỜI NHẬN</h4>
                        <form class="info" action="">
                            <p>Tên: Nguyễn Văn A</p>
                            <p>Số điện thoại: 0123456789</p>
                            <p>Địa chỉ: Đường a, P B, Q. C, TP.D</p>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 info">
                        <h4 class="confirm">THÔNG TIN SẢN PHẨM</h4>
                        <form class="info" action="">
                            <p>Mẫu 1</p>
                            <p>Size áo M</p>
                            <p>Số lượng 1 áo</p>
                        </form>
                    </div>
                </div>

                <div class="total">
                    <h4 class="confirm">TỔNG TIỀN</h4>
                    <form class="info" action="">
                        <p style="font-size: 20px;margin: 0px;">8000000</p>
                    </form>
                </div>
            </div>

            <div class="modal-footer" style="text-align:center;border:none;">
                <button type="button" class="btn btn-primary" style="margin:auto;display:block;" data-dismiss="modal">XÁC NHẬN</button>
            </div>
        </div>
    </div>
</div>